:root {
    --body-bg: #fafafb;
    --body-bg1:#eee;
    --box-bg: #ffffff;
    --main-color: #0652dd;
    --text-color: #455560;
    --text-second-color: #72849ab3;
    --border-color: #e9e9e9;
    --menu-item-active-bg: rgba(62, 121, 247, 0.1);

    --box-border-radius: 15px;
    --sidebar-size: 265px;
    --sidebar-logo-img-size: 45px;
    --sidebar-logo-size: 65px;
    --profile-image-size: 45px;
    --main-header-height: 65px;
    --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    --menu-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    --darkmode-toggle-size: 20px;
    --theme-color : 9,80,157;
}
::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--body-bg); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:var(--text-second-color); 
  }
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: var(--box-bg);
}
.dark {
    --body-bg: #1a191f;
    --box-bg: #1a191f;
    --border-color: #222028;
    --text-color: #b9b9b9;
    --color: #b9b9b9;
    --body-bg1: #222028;
    --bs-table-bg:#b9b9b9;
    --bs-table-striped-color:#b9b9b9 !important;
}
a,a:hover,a:focus{ text-decoration: none !important;}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{ box-shadow: var(--menu-shadow);}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg1) !important;
    color: var(--text-color);
    position: relative;
}

a {
    text-decoration: none;
    color: unset;
    display: inline-block;
}

.sidebar {
    background-color: var(--box-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-size);
    height: 100vh;
    box-shadow: var(--shadow);
   
}

.dark .sidebar {
    border-right: 2px solid var(--border-color);
}

.sidebar-logo {
    height: var(--sidebar-logo-size);
    position: static;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    top: 0;
    background: var(--box-bg);
    z-index: 2;
}

.sidebar-logo img {
   
    /* max-width: 50%; */
    height: 65px;
    width: auto;
}


.sidebar-close {
    display: none;
}

.sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    height: var(--main-header-height);
    box-shadow: var(--shadow);
}

.sidebar-user-info {
    display: flex;
    align-items: center;
}

.sidebar-user-name {
    margin-left: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-color);
}

.profile-image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 10px;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--main-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.btn i {
    font-size: 1.25rem;
}

.btn-outline {
    border: 2px solid var(--main-color);
    transition: background-color 0.2s ease-in-out;
}

.btn-outline:hover {
    background-color: var(--main-color);
    color: #fff;
}

.sidebar-menu {
    padding: 10px 0 0px;
    list-style-type: none;
    overflow-y: auto;
    height: calc(100vh - 3.5* var(--main-header-height ));
    margin-bottom: 0;
}

.sidebar-menu > li > a {
    width: 100%;
    padding: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
    color: var(--text-color);
    margin: 6px 0;
}

.sidebar-menu > li > a.active{
    background-color: var(--menu-item-active-bg);
    color: var(--main-color);
    border-right: 4px solid var(--main-color);
}
.sidebar-menu > li > a:hover {
    background-color: var(--menu-item-active-bg);
    color: var(--main-color);
    
}

.sidebar-menu > li > a:hover {
    color: var(--main-color);
}

.sidebar-menu > li > a > i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.sidebar-menu-dropdown {
    position: relative;
}

.sidebar-menu-dropdown .dropdown-icon {
    position: absolute;
    right: 15px;
}

.dropdown-icon {
    --size: 15px;
    --color: var(--text-color);
    height: var(--size);
    width: var(--size);
    position: relative;
    cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
    --height: 2px;
    content: "";
    width: 50%;
    height: var(--height);
    border-radius: 2.5px;
    position: absolute;
    top: calc(50% - var(--height) / 2);
    background-color: var(--color);
    transition: transform 0.3s ease;
}

.dropdown-icon::before {
    left: calc(50% - var(--height) / 3);
    transform-origin: center left;
    transform: rotate(-45deg);
}

.dropdown-icon::after {
    right: calc(50% - var(--height) / 3);
    transform-origin: right;
    transform: rotate(45deg);
}

.dropdown-icon.active::before {
    transform: rotate(45deg);
}

.dropdown-icon.active::after {
    transform: rotate(-45deg);
}

.sidebar-menu > li > a:hover > .dropdown-icon {
    --color: var(--main-color);
}

.sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    background: var(--body-bg);
}

.sidebar-menu-dropdown-content > li > a {
    padding-left: 45px;
    margin: 0;
    font-size: .92rem;
    height: 45px;
    color: var(--color);
}
.sidebar-menu-dropdown-content > li > a > i{
    font-size: 1rem;
}
.darkmode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkmode-switch {
    --height: var(--darkmode-toggle-size);
    --width: calc(var(--height) * 2);
    height: var(--height);
    width: var(--width);
    border-radius: calc(var(--height) / 2);
    background-color: #f5f6fa;
    position: relative;
}

.darkmode-switch::before {
    content: "";
    --height: 20px;
    --main-color: #0652dd;
    width: var(--height);
    height: var(--height);
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: left 0.3s ease-in-out;
}

.darkmode-switch.active::before {
    left: 50%;
}

.main {
    padding-left: var(--sidebar-size);
}

.main-header {
    height: var(--main-header-height);
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--box-bg);
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.dark .main-header {
    border-bottom: 2px solid var(--border-color);
}

.mobile-toggle {
    display: none;
}

.main-title {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--color);
    width: inherit;
    margin-right: var(--sidebar-size);
}
.main-title .plant{    font-size: 1.2rem;
    color: rgb(var(--theme-color));
    font-weight: 700;}

.main-content {
    padding: 20px;
    margin-top:var(--main-header-height);
}

.box {
    background-color: var(--box-bg);
    padding: 20px;
    border: 0.5px solid var(--border-color);
    border-radius: var(--box-border-radius);
}

.box-hover:hover {
    border-color: var(--main-color);
}

.counter-title {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.counter-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
}

.counter-info i {
    color: var(--main-color);
}

.box-header {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 700;
}

.box-body {
    padding: 20px 0;
}

.product-list {
    list-style-type: none;
}

.product-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-info img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.product-name,
.product-sales {
    font-weight: 600;
    text-transform: capitalize;
}

.product-name {
    margin-bottom: 5px;
}

.product-sales {
    margin-top: 5px;
}

.text-second {
    color: var(--text-second-color);
}

.item-sale-info {
    text-align: right;
}

.f-height {
    height: 100%;
}

.table {
    width: 100%;
    min-width: 400px;
}

.order-owner {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
}

.order-owner img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

table thead tr {
    text-align: left;
}

table th,
table td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);

    white-space: nowrap;
}


.order-status {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.order-ready {
    color: #2a59d1;
    background-color: rgba(62, 121, 247, 0.1);
}

.order-shipped {
    color: #00ab6f;
    background-color: rgba(4, 209, 130, 0.1);
}

.payment-status {
    display: flex;
    align-items: center;
}

.payment-status .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.payment-paid .dot {
    background-color: #04d182;
}

.payment-pending .dot {
    background-color: #ffc542;
}

.overflow-scroll {
    overflow-y: auto;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay.active {
    display: block;
}
.btn:hover {
    color: #fff !important;
}
.chart{
    background:#1abc9c !important;
}
.chart1{
    background: #e74c3c !important;
}
.chart2{
    background: #f39c12 !important;
}
.chart3{
    background: #d35400 !important;
}

@media only screen and (max-width: 1280px) {
    .sidebar {
        transition: transform 0.3s ease-in-out;
        max-width: 100%;
        z-index: 99;
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main {
        padding-left: 0;
    }

    .mobile-toggle,
    .sidebar-close {
        display: grid;
        place-items: center;
        font-size: 2rem;
        margin-right: 30px;
        cursor: pointer;
    }

    .sidebar-close {
        position: absolute;
        right: -15px;
    }
    .main-title {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--color);
    width: inherit;
    margin-right: 0;
}
}

/* login page */
.wrapper{
    background: var(--body-bg1); width:100vw; min-height: 100vh; position: relative;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.login {
    width: 400px;
    padding: 10px;
    min-height: 50vh;
    background-color: var(--box-bg);
    box-shadow: var(--menu-shadow);
    display: flex;
    flex-direction: column;
}
.login-logo {
    padding-left:  2rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.login form {
    position: relative;
    width: 100%;
    padding: 0 20px;
    height: inherit;
    margin-bottom: 11%;
}
.inp-control {
    position: relative;
    width:100%;
}
.login form {
    position: relative;
    width: 100%;
    padding: 0 2rem;
    height: inherit;
    margin-bottom: 1rem;
}
.login .my-input{
    font-size: 1rem;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 7px 10px 10px 40px;
    outline: none;
    border: 1px solid #999;
    border-radius: 6px;
}

.login .my-input:focus{ border:2px solid rgb(52 123 179);box-shadow: var(--shadow);}
.login .my-input:focus ~ .usr { color: rgb(52 123 179);}
.login .my-input:focus ~ .psd { color: rgb(52 123 179);}
.inp-control {
    position: relative;
    margin: 10px 0;
}
.usr,.psd {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 1.7rem;
    color: #999;
}
.login .login-btn {
    background-color: rgb(var(--theme-color));
    padding: 8px 32px;
    font-size: 1.5rem;
    margin: 10px 0 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    color: #fff;
    width: 100%;
   
    
    
}
.login .login-btn:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
.forget_text:hover{
    font-weight: bold;
    opacity: 1;
}
#togglePassword {
    position: absolute;
    right: 8px;
    top: 16px;
    font-size: 1.2rem;
}
.bci {
    position: relative;
    padding-bottom: 30px;
}
.bci img {
    width: 100px;
    height: auto;
    margin-top: 20px;
}
.logo-img{ width:100px;  height: auto;}
.version {
    position: absolute;
    top: 65%;
}
.modal-login{ display: none; }
.modal-login.show {
    display: block;
    
}
.modal.show .modal-dialog {
   
    top: 40%;
}
.btn.save_plant:disabled{
   
    cursor: not-allowed;
}
.plant_login{ height: 40px !important; }
/* .login-btn:hover {
    opacity: 1;
} */
#has-error_usr,#has-error_psd{ color: #e74c3c; visibility: hidden;}
.filter_btn,.filter_btn:active,.filter_btn:focus{ box-shadow: none !important;}
.filter_btn:hover,.filter_btn.show{ color: var(--main-color) !important;}
.filter_btn::after { display: none !important;}
.filter_btn span{ color: var(--text-color) !important;
    font-weight: bold !important;}
.no-padding{ padding: 0 !important;}
/* ----------------form input ------------ */
.input-group-my {
    padding: 20px 0 0;
}
.group1 {
position: relative;
margin-bottom: 45px;
}
.group {
    position: relative;
    margin-bottom: 10px;
    }
.input1 {
font-size: .8rem;
padding: 10px 10px 10px 10px;
display: block;
width: 100%;
border: .1rem solid #ccc;
border-radius: 5px;
height: 35px;
}
.input {
    font-size: .8rem;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: .1rem solid #ccc;
    border-radius: 5px;
    height: 35px;
    }
select.input1 {
padding-top: 6px;
}
select.input {
    padding-top: 6px;
    }
.input1:hover{ border: .14rem solid rgb(61, 56, 56);}
.input:hover{ border: .14rem solid rgb(61, 56, 56);}
.input1:focus{ border: .14rem solid #0652dd;}
.input:focus{ border: .14rem solid #0652dd;}

.label1 {
color: #9ea1ac;
font-size: 1rem;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 15px;
top: 5px;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;

}
.label {
    color: #9ea1ac;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    
    }

.input1:focus ~ .label1, .input1:valid ~ .label1 {   
top: -14px;
font-size: .8rem;
color: #2c3e50;
font-weight: bold;
background-color: #fff;
padding: 3px 6px;}
.input:focus ~ .label, .input:valid ~ .label {   
    top: -14px;
    font-size: .8rem;
    color: #2c3e50;
    font-weight: bold;
    background-color: #fff;
    padding: 3px 6px;}


input:focus,select:focus{ outline: none;}
.has-error {
visibility: hidden;
font-size: 0.6rem;
font-weight: bold;
padding-left: .3rem;
}

.my-filter {
    padding: 10px 1.2rem !important;
    border: none !important;
    box-shadow: var(--menu-shadow);
   
    border-top: 5px solid #081b67 !important;
}
.btn{ font-size: 13px !important;}
.btn-kec {
    color: #fff !important;
    background-color: #f15b26 !important;
    border-color: #f15b26 !important;
   
}
.btn-kec:hover {
    color: #fff !important;
    background-color: #d84e1b !important;
    border-color: #d84e1b !important;
}
.kec-add-btn{ display: flex; color: var(--text-color) !important; font-weight: bold !important; outline: none;}
.kec-add-btn span{ color:#f15b26 !important;}
.kec-add-btn span:hover{ color: #d84e1b !important;}
.kec-add-btn:hover{ color: var(--text-color) !important;}
.table-hover > tbody > tr:hover {
    --bs-table-accent-bg: #e5d5bc !important; cursor: pointer;
    color: var(--bs-table-hover-color);
}
.kec-add-btn:focus,.kec-add-btn:active{outline:none; box-shadow: none !important;}
.header-kec {
    width: 100%;
    display: flex;
    padding: 10px 0 15px;
    background: var(--body-bg);
}
.row > .body-table {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    
    padding-bottom: calc(var(--bs-gutter-x) * .5);
    margin-bottom: var(--bs-gutter-y);
    background-color: var(--box-bg);
    color: var(--text-color);
 overflow-x: auto;
}
.text-right{ float: right;}
.grouplist{ position: relative; padding-top: 10px; 

}
.grouplist .list-group-item:first-child{ padding-top: 20px;}
.labellist {
    position: absolute;
    pointer-events: none;
    left: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    top: -8px;
    font-size: .9rem;
    color: #2c3e50;
    font-weight: bold;
    background-color: #fff;
    padding: 3px 6px;
}

.p-cursor{
    cursor: pointer;
}



 .loading-part{ width:100vw; height:100vh; background:rgba(0,0,0,0.8);
        display: block;  position: fixed; top:0; left: 0; z-index: 9999;}
        .loading-box {
    width: 5rem;
    height: 5rem;
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
        .loading-box span{ position: absolute; width: 2rem; height: 2rem; background: #1e272e;
        top:0; left:0; animation: load 1.5s linear infinite;
    box-shadow: 0 1.4rem 208rem rgba(0,0,0,0.25) ,0 1rem 1rem rgba(0,0,0,0.22);}
    .loading-box span:first-child{ background-color: #f50002;}
    .loading-box span:nth-child(2){background-color: #fde603;}
    .loading-box span:nth-child(3){background-color: #367fb4;}
        @keyframes load {
            0%{ left:0; top:0;}
            12.5%{ left:50%; top:0;}
            25%{ left:50%; top:0;}
            37.5%{ left:50%; top:50%;}
            50%{ left:50%; top:50%;}
            62.5%{ left:0%; top:50%;}
            75%{ left:0%; top:50%;}
            87.5%{ left:0%; top:0;}
            100%{ left:0; top:0;}
            
        }
        .loading-box span:nth-child(2){
            animation-delay: .5s;
        }
        .loading-box span:nth-child(3){
            animation-delay: 1s;
        }
/*#ui-datepicker-div{ top:130px !important; }*/

/*--------------- Edit Login Css ------------------------------------ */
.wrapper{ background-color: #dee4f0;}

.login {
    width: 55%;
    padding: 0px;
    min-height: 80vh;
     background-color: var(--box-bg); 
   
    box-shadow: var(--menu-shadow);
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
}
.left_part {
    width: 55%;
    height: inherit;
    
    padding: 10px;
   
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.right_part {
    width: 45%;
    background: rgb(var(--theme-color));
    height: inherit;
    overflow: hidden;
    position: relative;
}
/*.right_part:before{ content: ''; width:100%; height: 100%; position: absolute;
top: 0; left: 0; background:rgba(9,80,157,1);
}*/
/*.banner-img {
    width: 100%;
    height: 100%;
}*/
.logo-login {
    width: 65%;
    position: relative;
}
.logo-login img{ width: 100%;}
/*.banner-img img{ height: 100%;}*/
.bci {
    position: absolute;
    padding-bottom: .3rem;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.bci p {
    font-size: .8rem;
    /* margin: 0; */
    color: #999;
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
    flex-direction: row;
    height: inherit;
}
.login-logo {
   
    padding-bottom: 1rem;
}
.login-logo h1{    color: #004da0;}
.login-logo h3 {
    font-size: .9rem;
    color: #919397;
    
}
.forget_text {
    color: #091c67;
    font-weight: bold;
    line-height: 3.4rem;
    font-size: .8rem;
    opacity: .8;
}
    .height-manual{ height: calc(100vh / 2 - 60px) !important;}
    span.search {
        /* background: #f15b26; */
        width: 35px;
        color: #202020;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 35px;
        float: right;
        border-radius: .4rem;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    span.search:hover,span.search.active{background: #f15b26; color: #fff;}
    .search-toggle{width: 90%; float: left; display: none;}

    /*------------------------ Responsive Css ------------------------*/

    @media only screen and (max-width: 1000px) {
        .login {
            width: 90%;
            padding: 0;
           
        }
        .main-content {
            padding: 10px;
           
        }
        .input-group-my {
            padding: 10px 0 0;
        }
        .right_part {
            width: 50%;
            
        }
        .left_part {
            width: 50%;
           
        }
        .height-manual{ height: 100% !important}
    }
    @media only screen and (max-width: 768px) {
       
        .login {
            width: 95%;
            padding: 0;
           
        }
        .main-content {
            padding: 10px;
           
        }
        .input-group-my {
            padding: 10px 0 0;
        }
        .right_part {
            width: 40%;
            
        }
        .left_part {
            width: 60%;
           
        }
    }
    @media only screen and (max-width: 580px) {
        .login {
            width: 90%;
            padding: 0;
           
        }
        .main-content {
            padding: 10px;
           
        }
        .input-group-my {
            padding: 10px 0 0;
        }
        .right_part {
            
            display: none;
        }
        .left_part {
            width: 100%;
           
        }
        .height-manual{ height: auto;}
        
        }

        /* chart  */
        #charta1{    display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;}
            #charta1 i{
            color: #e74c3c;
    font-size: 2rem;
    /* border: 1px solid #000; */
    border-radius: 100%;
    height: 65px;
    width: 65px;
    background: #e74c3c33;
    display: flex;
    justify-content: center;
    align-items: center;
            }
            #charta2{    display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;}
                #charta2 i{
                color: #4f92ff;
        font-size: 2rem;
        /* border: 1px solid #000; */
        border-radius: 100%;
        height: 65px;
        width: 65px;
        background: #4f92ff52;
        display: flex;
        justify-content: center;
        align-items: center;
                }
                #charta3{    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;}
                    #charta3 i{
                    color: #1abc9c;
            font-size: 2rem;
            /* border: 1px solid #000; */
            border-radius: 100%;
            height: 65px;
            width: 65px;
            background: #1abc9c3b;
            display: flex;
            justify-content: center;
            align-items: center;
                    }
                    #charta4{    display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;}
                        #charta4 i{
                        color: #e74c3c;
                font-size: 2rem;
                /* border: 1px solid #000; */
                border-radius: 100%;
                height: 65px;
                width: 65px;
                background: #e74c3c2e;
                display: flex;
                justify-content: center;
                align-items: center;
                        }
                        .card-footer i{color: #091d63;}
                        .charta1_title{text-align: right;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #e74c3c;}
                        .charta2_title{text-align: right;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #4f92ff;}
                        .charta3_title{text-align: right;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #1abc9c;}
                        .charta4_title{text-align: right;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #e74c3c;}
                        .charta_text{text-align: right;
                            color: #0d1f68;
                            font-size: 22px;
                            font-weight: bolder;}
                        
                       /* alert css  */
                       .simple-alert{ display: none;
                        position: fixed;
                       
                        right: 0;
                        top: 10%;
                        right: 0;
                        z-index: 1000;}
                       .alert {
                   width: auto;           
                
                   
                   right: 3%;
                  
                   min-width: 250px;
                   visibility:hidden;
                  
                   
               }
                   #alert-me {
                   width: 100%;
                   height: 100vh;
                   background-color: rgb(12 30 102 / 32%);
                   position: fixed;
                   top: 0;
                   left: 0;
                   z-index: 1000;
                  
                   display: none;
               }
               .alert-box {
                   background: #fff;
                   padding: 2rem;
                   box-shadow: var(--menu-shadow);
                   border-radius: 25px;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   color: #008000;
                   min-width: 280px;
                   max-width: 330px;
                   min-height: 200px;
                   position: absolute;
                   top:50%;
                   left: 50%;
                   transform: translate(-50%,-50%);
               }
               .alert-box  i {
                   font-size: 3rem;
                
               }
               .alert-box  span {
                   font-size: 1rem;
                   font-weight: bold;
                   
                   font-family: system-ui;
                   color: #444;
               }
               .alert-box  button {
                   width: 100%;
                   border: none;
                   background-color: #008000;
                   color: #fff;
                   padding: 8px 12px;
                   font-size: 1rem;
                   margin-top: 16px;
                   border-radius: 5px;
                   box-shadow: var(--menu-shadow);
               }
               